* {
    box-sizing: border-box;  
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items:center;
}
.nation {
    align-items: center;
    display: flex;
    padding: 10px;
    margin: 5px;
    width: 25%;
    height: 120px;
    border-style: solid;
    overflow-y: hidden;
}
.nation > div {
    padding: 10px;
    padding-bottom: 0px;
}
h2, ul {
    margin: 0px;
    padding: 0px;
    padding-left : 20px
}
img {
    width: 120px;
    height:70px;
}
.content {
    position: relative;
    width: 100%;
}
.remove-button {
    position: absolute;
    font-size: 110%;
    color: red;
    right: 20px;
    width: 15px;
    height: 12px;
    border: none;
    background: transparent;
    cursor: pointer;
}